<br />
<div style="display: flex;width:100%;justify-content:space-between">
    <div style="width: 35%;">
        <div style="display: flex;width: 80%;justify-content:space-between;margin:0 auto;">
            <button class="listBtn" onclick="currentList()"><h4>現場</h4></button>
            <button class="listBtn" onclick="reserveList()"><h4>預約</h4></button>
            <button class="listBtn" onclick="takeoutList()"><h4>外帶</h4></button>
        </div>
        <div id="orderList">
            @*現場清單*@
            <table data-toggle="table" class="table" id="currentList">
                @foreach (var item in (List<ChatBot.Models.OrderFormModel>)ViewBag.orderListCurrent)
                {
                    <tr id="@item.OrderForm_ID" onclick="showDetail(@Json.Encode(@item))" style="cursor: pointer;">
                        <td width="20%" style="text-align:center"><h2>@item.DeskNo</h2></td>
                        <td>
                            <p>人數：@item.PeopleNum</p>
                            @if (@item.OrderStatus == "未出餐")
                            {
                                <p><span>訂單狀態：</span><span style="color:red">@item.OrderStatus</span></p>
                            }
                            else
                            {
                                <p>訂單狀態：@item.OrderStatus</p>
                            }
                            <p>用餐時間：@item.EatingTime.ToString("yyyy/MM/dd hh:mm")</p>
                        </td>
                    </tr>
                }
            </table>
            @*預約清單*@
            <table data-toggle="table" class="table" id="reserveList" style="display:none">
                @foreach (var item in (List<ChatBot.Models.OrderFormModel>)ViewBag.orderListReserve)
                {
                    <tr id="@item.OrderForm_ID" onclick="showDetail(@Json.Encode(@item))" style="cursor: pointer;">
                        <td width="20%" style="text-align:center"><h2>@item.DeskNo</h2></td>
                        <td>
                            <p>人數：@item.PeopleNum</p>
                            <p>訂單狀態：@item.OrderStatus</p>
                            <p>用餐時間：@item.EatingTime.ToString("yyyy/MM/dd hh:mm")</p>
                        </td>
                    </tr>
                }
            </table>
            @*外帶清單*@
            <table data-toggle="table" class="table" id="takeoutList" style="display:none">
                @foreach (var item in (List<ChatBot.Models.OrderFormModel>)ViewBag.orderListTakeout)
                {
                    <tr id="@item.OrderForm_ID" onclick="showDetail(@Json.Encode(@item))" style="cursor: pointer;">
                        <td width="20%" style="text-align:center"><h2>@item.DeskNo</h2></td>
                        <td>
                            <p>訂單編號：@item.OrderForm_ID</p>
                            @if (@item.OrderStatus == "未出餐")
                            {
                                <p><span>訂單狀態：</span><span style="color:red">@item.OrderStatus</span></p>
                            }
                            else
                            {
                                <p>訂單狀態：@item.OrderStatus</p>
                            }
                            <p>取餐時間：@item.EatingTime.ToString("yyyy/MM/dd hh:mm")</p>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div style="width:60%">
        <div id="orderContent">
            <div style="display: flex;justify-content:space-between">
                <h3>桌號：</h3>
                <button id="foodDone" class="contentBtn" style="background-color:#66B3FF;display:none" onclick="foodDone()">完成出餐</button>
            </div>
            <p>訂單編號：</p>
            <p>人數：</p>
            <p>訂單狀態：</p>
            <p>備註：</p>
        </div>
        <div id="orderDetail">
            <table data-toggle="table" class="table">
                <tr id="orderItem">
                    <td>尚無資料</td>
                    <td style="text-align:right">0</td>
                </tr>
                <tr id="orderTotal">
                    <td>總計</td>
                    <td style="text-align:right">0</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var OrderFormID = 0, selectedDesk = 0;

    function showDetail(data) {
        var orderContent = document.getElementById("orderContent");
        $('#currentList tr').css('background-color', '');
        $('#reserveList tr').css('background-color', '');
        $('#takeoutList tr').css('background-color', '');
        $('#' + data.OrderForm_ID).css('background-color', '#E0E0E0');
        OrderFormID = data.OrderForm_ID;
        selectedDesk = data.DeskNo;
        orderContent.getElementsByTagName("h3")[0].innerHTML = "桌號：" + selectedDesk;
        orderContent.getElementsByTagName("p")[0].innerHTML = "訂單編號：" + data.OrderForm_ID;
        orderContent.getElementsByTagName("p")[1].innerHTML = "人數：" + data.PeopleNum;
        orderContent.getElementsByTagName("p")[2].innerHTML = "訂單狀態：" + data.OrderStatus;
        orderContent.getElementsByTagName("p")[3].innerHTML = "備註：" + (data.Memo != "" ? data.Memo : "無");
        if (data.OrderStatus != '未出餐') {
            $('#foodDone').hide();
        }
        if (data.OrderStatus == '未出餐') {
            orderContent.getElementsByTagName("p")[2].innerHTML = "訂單狀態：<span style='color: red;'>" + data.OrderStatus + "</span>";
            $('#foodDone').show();
        }
        getOrderDetail(data.OrderForm_ID);
    }

    function getOrderDetail(OrderFormID) {
        $.ajax({
            type: 'POST',
            url: "/Order/getOrderDetail",
            dataType: 'json',
            data: {
                OrderFormID: OrderFormID,
            },
            success: function (data) {
                setOrderDetail(data);
            },
            error: function (data) {
                alert("錯誤!");
            }
        });
    }

    //點餐細節
    function setOrderDetail(data) {
        var orderItemTd = document.getElementById("orderItem").getElementsByTagName("td");
        var orderTotalTd = document.getElementById("orderTotal").getElementsByTagName("td");
        var foodNameString = "", foodPriceString = "", foodTotal = 0;
        if (data.length == 0) {
            foodNameString = "尚未點餐";
            foodPriceString = "0";
            foodTotal = "0";
        } else {
            data.forEach(function (food) {
                foodNameString += "<p>" + food.Food_Name + " x " + food.Food_AMT + "</p>";
                foodPriceString += "<p>" + food.Food_Unit_Price.toLocaleString() + " x " + food.Food_AMT + "</p>";
                foodTotal += food.Food_Total_Price;
            });
        }
        orderItemTd[0].innerHTML = foodNameString;
        orderItemTd[1].innerHTML = foodPriceString;
        orderTotalTd[1].innerHTML = foodTotal.toLocaleString();
    }

    function currentList() {
        $('#currentList').show();
        $('#reserveList').hide();
        $('#takeoutList').hide();
    }

    function reserveList() {
        $('#currentList').hide();
        $('#reserveList').show();
        $('#takeoutList').hide();
    }

    function takeoutList() {
        $('#currentList').hide();
        $('#reserveList').hide();
        $('#takeoutList').show();
    }

    function foodDone() {
        if (confirm("已完成訂單編號 " + OrderFormID+ " 所有餐點")) {
            $.ajax({
                type: 'POST',
                url: "/Order/foodDeliver",
                dataType: 'text',
                data: {
                    OrderFormID: OrderFormID,
                },
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    alert("錯誤!");
                }
            });
        };
    }
</script>
