<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大戶屋</title>
    <style type="text/css">
        .desk {
            border-width: 1px;
            border-style: solid;
            border-color: #8E8E8E;
            border-radius: 20px;
            text-align: center;
            position: relative;
        }

            .desk p {
                /*垂直置中*/
            }

            .desk img {
                width: 60px;
                transform: scaleX(-1);
                position: absolute;
                cursor: pointer;
                top: 0;
                right: 0;
            }

            .desk span {
                position: absolute;
                margin-right: 10px;
                top: 0;
                left: 0;
                border-width: 2px;
                border-style: solid;
                border-color: white;
                border-radius: 20px;
                background-color: #8E8E8E;
                color: white;
                width: 30px;
                height: 25px;
            }

        .note {
            border-width: 1px;
            border-style: solid;
            border-color: #8E8E8E;
            border-radius: 20px;
            width: 30px;
            height: 30px;
            border-radius: 5px;
        }

        footer {
            position: absolute;
            bottom: 20px
        }

        #orderList {
            overflow: auto;
            height: auto;
            max-height: 450px;
            background-color: white;
            border-radius: 20px;
        }

        #orderDetail {
            height: auto;
            border-width: 1px;
            border-style: solid;
            border-color: #8E8E8E;
            border-radius: 20px;
        }

        .contentBtn {
            width: 90px;
            height: 35px;
            border-style: none;
            border-radius: 10px;
            color: white;
        }

        .listBtn {
            width: 100px;
            height: 35px;
            border-style: none;
            border-radius: 10px 10px 0 0;
            color: black;
            background-color: white;
        }
    </style>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
</head>
<body style="background-color:#F0F0F0">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("座位管理", "Index", "Desk", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("點餐管理", "Index", "Order", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("結算系統", "Index", "Desk", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>